*{
    box-sizing: border-box;
}

.parent {
    width: 600px;
    margin: 40px auto;
    background-color: #EEE;
    padding: 20px;
    margin-top: 150px;
  }

  .parent input {
    border: none;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 20px;
  }
  .parent input:focus {
    outline: none;
  }
 
button {
    background-color: #009688;
    text-align: center;
    color: #FFF;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
    border: none;
    margin-left: 30px;
    margin-bottom: 50px;
  }
#content{
    text-align: center;
    font-size: 1em;
}